@model BB.BelBike.Areas.Dashboard.ViewModel.PlaceModel
@{
    ViewBag.Title = "Участки";
}

<div class="row">
    <div class="col col-lg-12">
        <h2>Участки</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col col-lg-12">
        <form>
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Поиск" value="@Model.Search" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i> Поиск</button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Place")"><i class="fas fa-redo-alt mr-1"></i> Reset</a>
                    <button data-href="@Url.Action("Action", "Place")" class="data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus mr-1"></i> Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        @{ Html.RenderPartial("_List", Model); }
    </div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>